/* Estilos específicos para la página list_stores */

/* Fondo color bisque */
body {
    background-color: bisque;
}

/* Estilo de las tarjetas */
.card {
    background-color: beige;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card-title {
    font-weight: bold;
    font-size: 1.2em;
}

.card-text {
    font-size: 0.9em;
    color: #555;
}
